#container {
  @apply flex flex-row-reverse justify-end;
}

input {
  @apply hidden;
}

label {
  @apply fill-gray-200 cursor-pointer;
}

label:hover,
label:hover ~ label {
  @apply fill-yellow-400;
}

input:checked ~ label {
  @apply fill-yellow-400;
}
